<span *ngIf="_auth.loggedIn()">
  <h3 class="mt-3">Hello, {{ _auth.getUsername() }}.</h3>
  <button class="btn btn-primary" type="submit" (click)="addEvent()">Add Event</button>
  <button *ngIf="events.length" class="btn btn-danger float-right" (click)="deleteAllEvents()">Delete All</button>
</span>

<p class="mt-3" *ngIf="!events.length">There are currently no events :(</p>

<div class="row mt-3">
  <app-create-event [events]="this" [special]="false" class="col-md-4 mb-3" *ngIf="eventService.addingEvent"></app-create-event> 
  <div class="col-md-4 mb-3" *ngFor="let event of events">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{ event.name }}</h5>
        <p class="card-text">{{ event.description }}</p>
        <a href="#" class="btn btn-primary">Buy Tickets</a>
      </div>
      <div class="card-footer text-muted">
        {{ event.date | date: 'shortDate' }}
      </div>
    </div>
  </div>
</div>