<div class="card text-center">
  <div class="card-body">
    <form #eventForm="ngForm" autocomplete="off" (ngSubmit)="special ? addSpecialEvent() : addEvent()">

      <input type="text" class="card-title" name="name" placeholder="Event name" [(ngModel)]="event.name" required>
      <input type="text" class="card-text" name="description" placeholder="Description" [(ngModel)]="event.description" required>
      <input type="text" class="card-text" name="date" placeholder="Date" [(ngModel)]="event.date" required>

      <br/><br/>

      <button class="btn btn-primary" [class.btn-success]="special" type="submit" style="margin-right: 2px" [disabled]="eventForm.form.invalid">Add</button>
      <button class="btn btn-danger" style="margin-left: 2px" (click)="cancel()">Cancel</button>

    </form>
  </div>
</div>
